<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <a href="/bmi">Back</a>
    <span class="bmi">
        <div class="bmi-form">
            <div class="bmi-title">Result</div>

            <div>
                <label for="bmi">BMI</label>
                <div id="bmi"><%= bmi %></div>
            </div>

            <div>
                <label for="bmi">DESC</label>
                <div id="bmi"><%= desc %></div>
            </div>
        </div>
    </span>

</body>

</html>